@tailwind base;
@tailwind components;
@tailwind utilities;

/* press-start-2p-regular - latin */
@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../public/fonts/press-start-2p-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../public/fonts/press-start-2p-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
:root {
    --bg-theme: rgba(26,32,44,255);
}

  body {
    background-color: var(--bg-theme);
  }